<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>BackyardBorrow</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1>Backyard Borrow Edit</h1>
        <nav>
            <a href="/backyard">Return to All Listings</a>
        </nav>
        <h2>Make changes to your Listing</h2>
        <div class=" new-container">
            <form action="/backyard/<%=backyard.id%>?_method=PUT" method="POST">
                <input type="text" name="title" value="<%=backyard.title%>" /><br/>
                <input type="text" name="location" value="<%=backyard.location%>" /><br/>
                <input type="text" name="pool" value="<%=backyard.pool%>" /><br/>
                <input type="text" name="seating" value="<%=backyard.seating%>"/><br/>
                <input type="text" name="cooking" value="<%=backyard.cooking%>" /><br/>
                <input type="text" name="petfriendly" value="<%=backyard.petfriendly%>"/><br/>
                <input type="text" name="tags" value="<%=backyard.tags%>"/><br/>
                <input type="text" name="availability"  value="<%=backyard.availability%>" /><br/>
                <input type="submit" value="Submit Changes" />
            </form>
            </div>
    </body>
</html>