<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <body> 
        <br> <br>
        <div class="container-md" id="edits">
            <h2>Make changes to your Listing</h2>
            <form action="/backyard/<%=backyard.id%>?_method=PUT" method="POST">
                Title <br><input id= "feedback" type="text" name="title" value="<%=backyard.title%>" /><br/>
                Location <br><input id= "feedback" type="text" name="location" value="<%=backyard.location%>" /><br/>
                Pool <br><input id= "feedback" type="text" name="pool" value="<%=backyard.pool%>" /><br/>
                Seating <br><input id= "feedback" type="text" name="seating" value="<%=backyard.seating%>"/><br/>
                Cooking <br><input id= "feedback" type="text" name="cooking" value="<%=backyard.cooking%>" /><br/>
                Pet-friendly<br><input id= "feedback" type="text" name="petfriendly" value="<%=backyard.petfriendly%>"/><br/>
                Tags<br><input id= "feedback" type="text" name="tags" value="<%=backyard.tags%>"/><br/>
                Availability <br><input id= "feedback" type="date" name="availability"  value="<%=backyard.availability%>" /><br/>
                Image Links <br><input id= "feedback" type="text" name="image" value="<%=backyard.image%>" /><br/>
                <input type="submit" value="Submit Changes" />
            </form>
            </div>
            <br><br>
            <footer>
                <%- include ('./partials/footer.ejs') %>
            </footer>
    </body>
</html>