<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <header>  
        <%- include ('./partials/header.ejs') %>
    </header>
    <div class="container">
        <article>Welcome to Backyard Borrow! Check out available listings below for yards in your area. Click on the title to view more details, availability, and book your new backyard!</article>
    </div>
    <body>
        <div class="container">
            <div class="row">
            <% for (let i = 0; i < backyard.length; i++) { %>
                <div class="col-md">
                    <a href="/backyard/<%=backyard[i]._id%>">
                    <h2><%=backyard[i].title%></h2>
                    </a>
                    <h3><%=backyard[i].location%></h3>
                    <h3><%backyard[i].pool%></h3>    
                </div>
        <% } %>
            </div>
        </div>
        <div class="container-lg" id="houserules">
        <h3>House Rules</h3>
        <p>As a reminder, all backyards are borrowed for free. Please be respectful of your hosts and take everything with you when you leave. Feedback on your individual experience can be submited below.</p>
            <nav class="navbar navbar-light bg-light">
            <form class="form-inline" action="/backyard">
                <input class= "form-control mr-sm-2" id= "feedback" type="text" name="feedback" placeholder="Feedback on your experience" /><br/>
                <input class= "form-control mr-sm-2" type="submit" value="Submit" />
            </form>
            </nav>
        </div>
    </body>
</html>