<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <body>
            <div class="container" id="show">
                    <div class="container-md" id="show2">
                        <h2 id="showtitle"><%=backyard.title%></h2>
                        <h3 id="showtitle"><%=backyard.location%></h3> <br>
                        <%  if (backyard.pool === true) { %>
                             <h4> This yard has a pool </h4>
                        <%} if (backyard.pool === false) {  %>
                               <h4> No pool available </h4>
                            <% } %>
                        <h4>Seating Options:</h4>
                        <% for (let j = 0; j < backyard.seating.length; j++) { %>
                            <li><%=backyard.seating[j]%></li>
                        <% } %>
                        <h4>Cooking Options:</h4>
                        <% for (let k = 0; k < backyard.cooking.length; k++) { %>
                            <li><%=backyard.cooking[k]%></li>
                        <% } %>
                        <%  if (backyard.petfriendly === true) { %>
                            <h4> Pets welcome </h4>
                       <%} if (backyard.petfriendly === false) {  %>
                              <h4> No pets allowed  </h4>
                           <% } %>
                        <h4>Additional Tags:</h4>
                        <% for (let l = 0; l < backyard.tags.length; l++) { %> 
                            <li><%=backyard.tags[l]%></li>
                        <% } %>
                        <h4>Dates Available:</h4>
                        <% for (let m = 0; m < backyard.availability.length; m++) { %>
                            <li><%=backyard.availability[m]%></li>
                        <% } %>
                        <br>
                        <img src="<%=backyard.image %>" class="img-thumbnail">
                    </div>
                    <br><br>
                    <div class="container-sm" id="reserve">
                        <h2>Borrow this Backyard!</h2>
                        <form action="/backyard">
                            Name: <br><input type="text" name="name" /><br/>
                            Email Address: <br> <input type="text" name="email" /><br/>
                            Phone Number:<br> <input type="number" name="phone" /><br/>
                            Date: <br><input type="date" name="date" /><br/>
                            Reserve Now: <br> <input type="checkbox" name="reserve" /><br/>
                             <br><input type="submit" value="Submit Reservation">
                        </form>
                    </div>
                    <br><br>
                    <div class="container" id="owner">
                        <h2>If you are the listing owner:</h2>
                        <nav class="navbar navbar-light bg-light">
                        <form class="form-inline" action="/backyard/<%=backyard.id%>/edit" method="GET">
                            <input class="form-control mr-sm-2" type="submit" value="Edit Listing">
                        </form>
                        <form class="form-inline" action="/backyard/<%=backyard.id%>?_method=DELETE" method="POST">
                            <input class="form-control mr-sm-2" type="submit" value="Remove Listing">
                        </form>
                        </nav>
                    </div>   
            </div>
            <br><br>
            <footer>
                <%- include ('./partials/footer.ejs') %>
            </footer>
    </body>
</html>